@font-face {
    font-family: Norse-Bold;
    src: url(./assets/Norse-Bold.otf);
  }
:root{
    overflow-x: hidden;
}

.content {
    display: flex;
    align-items: stretch;
    justify-content: center;

}

body{
    margin:0;
    background-color: f9fafb;
}


/* Header Area */
header{
    flex: 1 1 auto;
    height: 100%;
    background-color: black;
    background-image: url(./assets/photo-1585202900225-6d3ac20a6962.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

main{
    flex: 2 1 auto;
}

.logo {
    flex: auto;
    padding: 16px 0px;
    font-family: Norse-Bold;
    color: white;
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 40%);
    position: relative;
    top: calc(100vh/3.5);
  }

.logo>img{
    height: 10rem;
}

.image-credit{
    position: relative;
    top: calc(100vh/1.2);
    text-align: center;
    color: white;
}

a, a:visited {
    color: white;
}

/* main area */
main{
    background-color: #f9fafb;
}


main > *{
    padding: 16px 50px;
}

div.form-instructions{
    position: relative;
    top: calc(100vh / 20);
}

.form-instructions p {
    font-size: 1.4rem;
    font-weight: bold;
    width: clamp(42ch, 56ch, 72ch);
}

form{
    position: relative;
    top: calc(100vh/15);
    background-color: white;
    background-clip: padding-box;
}

legend{
    font-size: 1.5rem;
    font-weight: 600;
}

div.submit-form{
    position: relative;
    top: calc(100vh/10);
}

fieldset{
    border: none;
}

div.form-group {
    width: 600px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

div.form-group label{
    text-align: left;
    text-transform: uppercase;
    font-family: monospace;
    font-size: smaller;
}

input{
    border-radius: 5px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    transition: 0.3s box-shadow;
    height: 1.5rem;

}
input:invalid{
    border-color: red;
}

input:active:invalid{
    border-color: rebeccapurple;
}

input:focus{
    border-color: blue;
}

input:hover{
    box-shadow: 0 0 3px rgba(0, 0, 0, 40%);
}

div.form-item{
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.submit-form button{
    padding: 10px 16px;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: #596d48;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 10%);

}

.submit-form button:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 40%);
}

.submit-form button:active{
    box-sizing: none;
}

.submit-form p{
    font-size: 1.4rem;
}

a.log-in{
    color: green;
    text-decoration: none;
}

